/node_modules

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/src/config.json
/.vscode/settings.json
/.vscode/launch.json
/.vscode/tasks.json
/.vscode/extensions.json
/.vscode/snippets
/.vscode/snippets/javascript.json
/.vscode/snippets/typescript.json

/tree
/tree/*

/.env
