.home-main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  padding: 20px;
  min-height: 80vh;
}

.home-main-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.home-main-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: center;
}
