.home-main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  color: #333333;
  line-height: 1.6;
  padding: 40px;
  min-height: 80vh;
}

.home-main-content h1 {
  font-size: 3rem;
  margin-bottom: 30px;
  text-align: center;
}

.home-main-content p {
  font-size: 1.1rem;
  margin-bottom: 30px;
  text-align: center;
}
