@media (max-width: 768px) {
  .card {
    width: 80%;
  }

  .home-main-content h1,
  .card h3 {
    font-size: 1.8rem;
  }

  .buttons {
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .card {
    width: 100%;
  }
}
