@media (max-width: 768px) {
  .card {
    width: 80%;
  }

  .home-main-content h1,
  .card h3 {
    font-size: 1.8rem;
  }

  .button-group button {
    justify-content: center;
    padding: 8px 16px;
    margin: 5px;
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .card {
    width: 100%;
  }

  .button-group {
    flex-direction: column;
  }

  .button-group button {
    width: 100%;
    margin-bottom: 10px;
  }
}
